# Default ignored files
/shelf/
/workspace.xml
.idea
**/build/
.gradle
HELP.md
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/com.middleservice.main/**/build/
!**/src/test/**/build/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/com.middleservice.main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###

*.iws
*.iml
*.ipr
out/
!**/src/com.middleservice.main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

DOWNLOADCLOSE
